<div id="edit_content">
    <%= image_tag "gift.jpg", id: "gift_img" %>
    <h2>Setup event details:</h2>
    <div id="form_box">
        <%= form_for @event, :html => {:class => "pure-form pure-form-aligned"} do |f| %>
            <div class="pure-control-group">
                <%= f.label :name %>
                <%= f.text_field :name %>
            </div>

            <div class="pure-control-group">
                <%= f.label "Estimated price" %>
                <%= f.number_field :money_limit %>
            </div>

            <div class="pure-controls">
                <%= f.submit "Update", class: "pure-button pure-button-primary" %>
            </div>
        <% end %>
    </div>
</div>
