<!--
<p>
  <strong>Start date:</strong>
  <%= @event.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @event.end_date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @event.status %>
</p>

-->

<p>
  Recommended gift price is <%= @event.money_limit %>€
</p>

<p>
  Organized by <%= User.find(@event.host_id).name %>
</p>

<p>
  <strong>Has started:</strong>
  <%= @event.has_started %>
</p>

<ul>
    <% @participants.each do |p| %>
        <li><%= p.name %></li>
    <% end %>
</ul>

<% if not @event.has_started and @current_user.id == @event.host_id %>
    <a class="pure-button" href="/event/<%= @event.event_hash %>/start_event">Start event</a>
<% end %>

<% unless @participants.include? @current_user %>
    <a class="pure-button" href="/event/<%= @event.event_hash %>/join_event">Join event</a>
<% end %>

<% if @event.has_started %>
    <p>Receiver: <%= @receiver.name %></p>
<% end %>

<p>
    Currently logged in: <%= @current_user.name %>
</p>
