<!--
<p>
  <strong>Start date:</strong>
  <%= @event.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @event.end_date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @event.status %>
</p>

-->

<p>
  <strong>Recommended gift price</strong>
  <%= @event.money_limit %>
</p>

<p>
  <strong>Host:</strong>
  <%= @event.host_id %> - <%= User.find(@event.host_id).name %>
</p>

<p>
  <strong>Has started:</strong>
  <%= @event.has_started %>
</p>

<ul>
    <% @participants.each do |p| %>
        <li><%= p.name %></li>
    <% end %>
</ul>

<a class="pure-button" href="/event/<%= @event.event_hash %>/start_event">Start event</a>

<% unless @participants.include? @current_user %>
    <a class="pure-button" href="/event/<%= @event.event_hash %>/join_event">Join event</a>
<% end %>

<p>
    Currently logged in: <%= @current_user.name %>
</p>
